*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /*   resets font on everything -> need to set font-weight, font-size */
  font-family: inherit;
}

.header {
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header h1 {
  color: #f71111;
  margin-bottom: 0.5rem;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.25;
  z-index: -1;
}

.container {
  width: 80%;
}

.navbar {
  text-transform: uppercase;
  padding: 2rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin-left: 3rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

.navbar a:visited {
  color: black;
}

.navbar a:active {
  font-weight: 700;
  color: #f71111;
  border-bottom: 3px solid #b7b7b7;
}
